root = true

[*]
indent_style = space
indent_size = 2

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt,kts,xml,kt.spec,kts.spec}]
indent_size = 4
max_line_length = 120
ij_kotlin_imports_layout=*

# ktlint rules
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_no-empty-first-line-in-method-block = disabled
ktlint_standard_no-blank-lines-in-chained-method-calls = disabled

[{*.md,*.markdown}]
trim_trailing_whitespace = false
