#particles-js > canvas {
  position: absolute;
  left: 0px;
  top: 60px;
  height: 295px !important;
  z-index: -1;
}

#main-greeting {

  height: 250px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
